<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet"/>
  <title>
   Busca
  </title>
 </head>
 <body>
  <h1>
   Resultados
  </h1>
  <table border="1" class="dataframe">
   <thead>
    <tr style="text-align: right;">
     <th>
     </th>
     <th>
      indice
     </th>
     <th>
      Cod_Parcela
     </th>
     <th>
      Cod_Imovel
     </th>
     <th>
      Nome_Imovel
     </th>
     <th>
      Nome_Proprietario
     </th>
     <th>
      CPF_Proprietario
     </th>
     <th>
      Responsavel_Tecnico
     </th>
     <th>
      Municipio
     </th>
     <th>
      Situacao
     </th>
     <th>
      Natureza
     </th>
     <th>
      Coordenadas
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <th>
      0
     </th>
     <td>
      0
     </td>
     <td>
      774e3bc7-81bb-4f3b-a016-4a0749f5daab
     </td>
     <td>
      8071090024535
     </td>
     <td>
      FAZENDA SEU ANTÔNIO
     </td>
     <td>
      ANTONIO CARLOS SCHWABE
     </td>
     <td>
      915679
     </td>
     <td>
      CRISTIANO WESTPHAL
     </td>
     <td>
      Santo Amaro da Imperatriz - SC
     </td>
     <td>
      Imóvel Registrado
     </td>
     <td>
      Particular
     </td>
     <td>
      [-48.97852555555556, -27.636658055555554]
     </td>
    </tr>
   </tbody>
  </table>
  <table border="1" class="dataframe">
   <thead>
    <tr style="text-align: right;">
     <th>
     </th>
     <th>
      indice
     </th>
     <th>
      Nome_Proprietario
     </th>
     <th>
      CPF
     </th>
     <th>
      Nascimento
     </th>
     <th>
      CAR
     </th>
     <th>
      Area_Total (ha)
     </th>
     <th>
      Municipio
     </th>
     <th>
      Estado
     </th>
     <th>
      Coordenadas
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <th>
      0
     </th>
     <td>
      1
     </td>
     <td>
      Maria Orci de Farias Silva
     </td>
     <td>
      27128504168
     </td>
     <td>
      05/12/1949
     </td>
     <td>
      TO-1716208-6CF5F1787B8C4A35A585AF2788C5B2F6
     </td>
     <td>
      0.034172
     </td>
     <td>
      Paranã
     </td>
     <td>
      TO
     </td>
     <td>
      [-47.76665169411742, -13.112950737168745]
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>