<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet"/>
  <title>
   Busca
  </title>
 </head>
 <body>
  <h1>
   Resultados
  </h1>
  <table border="1" class="dataframe">
   <thead>
    <tr style="text-align: right;">
     <th>
     </th>
     <th>
      indice
     </th>
     <th>
      Nome_Proprietario
     </th>
     <th>
      CPF
     </th>
     <th>
      Nascimento
     </th>
     <th>
      CAR
     </th>
     <th>
      Area_Total (ha)
     </th>
     <th>
      Municipio
     </th>
     <th>
      Estado
     </th>
     <th>
      Coordenadas
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <th>
      0
     </th>
     <td>
      0
     </td>
     <td>
      RUBENS FURLAN NETO
     </td>
     <td>
      04529488942
     </td>
     <td>
      04/07/1994
     </td>
     <td>
      PR-4108403-0712A189687742FAA064A4BB53F4B457
     </td>
     <td>
      22.376444
     </td>
     <td>
      Francisco Beltrão
     </td>
     <td>
      PR
     </td>
     <td>
      [-53.26829243724625, -26.05320675749797]
     </td>
    </tr>
    <tr>
     <th>
      0
     </th>
     <td>
      2
     </td>
     <td>
      Claudia Lopes Furlan Brognoni
     </td>
     <td>
      13877203841
     </td>
     <td>
      08/08/1969
     </td>
     <td>
      SP-3525102-872F0DEAC11B49198E234BC9730D71CD
     </td>
     <td>
      10.025169
     </td>
     <td>
      Jardinópolis
     </td>
     <td>
      SP
     </td>
     <td>
      [-47.7546856350266, -21.0595525806438]
     </td>
    </tr>
   </tbody>
  </table>
  <table border="1" class="dataframe">
   <thead>
    <tr style="text-align: right;">
     <th>
     </th>
     <th>
      indice
     </th>
     <th>
      Cod_Parcela
     </th>
     <th>
      Cod_Imovel
     </th>
     <th>
      Nome_Imovel
     </th>
     <th>
      Nome_Proprietario
     </th>
     <th>
      CPF_Proprietario
     </th>
     <th>
      Responsavel_Tecnico
     </th>
     <th>
      Municipio
     </th>
     <th>
      Situacao
     </th>
     <th>
      Natureza
     </th>
     <th>
      Coordenadas
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <th>
      0
     </th>
     <td>
      1
     </td>
     <td>
      d19b5760-dcde-4dc6-a68e-f452bbc2d688
     </td>
     <td>
      9011481014519
     </td>
     <td>
      Sítio Buritirama
     </td>
     <td>
      Claudia Furlan
     </td>
     <td>
      920171
     </td>
     <td>
      PEDRO ANTONIO DE OLIVEIRA DIAS
     </td>
     <td>
      Chapada dos Guimarães - MT
     </td>
     <td>
      Imóvel Registrado
     </td>
     <td>
      Particular
     </td>
     <td>
      [-54.45900555555556, -14.664942777777778]
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>